.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 9px 16px;
	min-width: 100px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: var(--white);
    + .wrapper{
        margin-left: 8px;
    }

    &.disabled{
        user-select: none;
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title, .title + .icon{
    margin-left: 8px;
}  

.icon{
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height: 2.4rem;
}

.rounded{
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    min-width: 90px;
    border-radius: 52px;
    padding: 4px 8px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover{
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
	background-color: var(--primary);
	color: var(--white);
	&:hover {
        border-color: var(--primary);
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.06),
				rgba(0, 0, 0, 0.06)
			),
			#fe2c55;
	}
}

.outline {
	color: var(--primary);
	border: 1px solid currentColor;
	&:hover {
        border-color: var(--primary);
		background-color: rgba(254, 44, 85, 0.06);
	}
}

.small{
    min-width: 88px;
    padding: 4px 16px;
    font-weight: 500;
}

.large{
    font-size: 1.8rem;
    min-width: 148px;
    padding: 14px 16px;
    font-weight: 700;
}

.text{
    &:hover{
        text-decoration: underline;
    }
}




